#Import Library

In [1]:
import pandas as pd
import requests
from datetime import datetime

#Get Data From API

In [6]:
url = "https://berita-indo-api-next.vercel.app/api/"

links_berita = [
    "cnn-news/teknologi",
    "antara-news/terkini",
    "cnbc-news/entrepreneur",
    "cnbc-news/entrepreneur",
    "republika-news/sepakbola",
    "tempo-news/nasional",
    "okezone-news/lifestyle",
    "kumparan-news",
    "tribun-news/jabar/"
]

In [7]:
def cleanCreator(value) : #untuk menghapus tanda baca pada setiap link creator berita
  result = value.replace("-", " ")
  result = result.replace("/", " ")
  return result

In [ ]:
df_news = []
for news in links_berita :
  response = requests.get(url + news)
  results = response.json()
  new_dataframe = pd.DataFrame(results['data'])
  new_dataframe['creator'] = cleanCreator(news)
  df_news.append(new_dataframe)


dataframe = pd.concat(df_news)

In [ ]:
df_final = dataframe[["creator", "title", "link", "contentSnippet", "contentSnippet", "image"]]
df_final.head()

##Mengubah Tipe Data

In [ ]:
df_final.dtypes #mengecek tipe data awal

Mengubah tipe data kolom "isoDate" menjadi datetime

In [ ]:
df_final['isoDate'] = df_final.isoDate.apply(lambda x: datetime.strptime(x, "%Y-%m-%dT%H:%M:%S.%fZ"))

In [ ]:
df_final.dtypes # mengecek tipe data setelah diubah

Melakukan agregasi data pada dataframe

In [ ]:
df_final.groupby("creator").agg(
    total=pd.NamedAgg(column="creator", aggfunc="count")
)